:root {
  --primary: #4d78ff;
  --secondary: #9bb4ff;
  --accent: #a855ff;
  --light: #d9e3ff;
  --dark-bg: #020510;
  --card-bg: rgba(12, 18, 40, 0.55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #0a1130, #020510 70%);
  color: var(--light);
  display:flex;
  /* overflow-x: hidden; */
}

h1, h2, h3 {
  letter-spacing: .5px;
}

/* ===============================================================
   SIDEBAR
================================================================ */
.sidebar {
  width:380px;
  height: 100vh;
  position: fixed;
  background: rgb(1, 1, 29);
  /* border-right: 1px solid rgba(90,120,255,0.25); */
  /* backdrop-filter: blur(18px); */
  padding: 45px 20px;
}
.in{
  width: 300px;
  height:90vh;
  border-radius: 20px;
  background: transparent;
  padding: 20px;
  border:1px solid rgba(90,120,255,0.25);
}
.sidebar h2 {
  color: var(--secondary);
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 0 0 20px rgba(90,120,255,.5);
}

.nav-links {
  list-style: none;
}

.nav-links li {
  margin: 18px 0;
  font-size:40px;
}

.nav-links a {
  color: var(--light);
  text-decoration: none;
  font-size:25px;
  margin-top:23px;
  padding: 12px 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: .3s;
  opacity: .85;
}

.nav-links a i {
  font-size: 17px;
  opacity: .9;
}

.nav-links a:hover {
  background: rgba(90,120,255,0.3);
  transform: translateX(8px);
  opacity: 1;
  box-shadow: 0 0 15px rgba(90,120,255,0.35);
}

/* SOCIALS */
.socials {
  position: absolute;
  bottom:33px;
  right:30px;
  width: 100%;
  text-align: center;
}

.socials a {
  color: var(--secondary);
  font-size: 30px;
  margin-left: 20px;
  transition: .3s;
}

.socials a:hover {
  color: #fff;
  text-shadow: 0 0 15px var(--primary);
}

/* ===============================================================
   CONTENT WRAPPER
================================================================ */
.content {
  margin-left: 380px;
  padding: 10px 60px;
  width: 100%;
  background: rgb(1, 1, 29);
}

/* SECTION SPACING */
section {
  padding: 70px 0;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

/* ===============================================================
   HERO / HOME
================================================================ */

.brand {
  font-size: 4rem;
  font-weight: 900;
  color: var(--secondary);
  text-shadow: 0 0 20px rgba(90,120,255,.5);
}
.name{
    font-size: 2rem;
  font-weight: 900;
  color: var(--secondary);
  text-shadow: 0 0 20px rgba(90,120,255,.5);
}

.brand span {
  color: var(--primary);
  text-shadow: 0 0 25px var(--primary);
}

.subtitle {
  font-size: 2.2rem;
  margin-top: 15px;
  font-weight: 600;
}

#typing {
  color: var(--accent);
  text-shadow: 0 0 10px var(--accent);
}

.hero-text {
  max-width: 650px;
  margin-top: 20px;
  opacity: .88;
  line-height: 1.7;
  font-size: 1.1rem;
}

/* DECORATIVE BACKGLOW */
.glow-ball {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(90,120,255,0.35), transparent 70%);
  position: absolute;
  top: 80px;
  right: 160px;
  filter: blur(30px);
}
.profile{
  width:400px;
  height:500px;
  object-fit: cover;
  border-radius:2%;
  border: 2px solid rgba(90,120,255,0.5);
  box-shadow: 0 0 20px rgba(90,120,255,0.4);
}


/* ===============================================================
   ABOUT
================================================================ */
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--secondary);
}
.about-wrapper{
  display: flex;
  gap: 60px;
}

/* ABOUT CARD */
.about-card {
  width: 320px;
  height: 440px;
  padding: 25px;
  background: var(--card-bg);
  border-radius: 18px;
  border: 1px solid rgba(120,150,255,.25);
  box-shadow: 0 0 25px rgba(90,120,255,.12);
  animation: float 6s infinite alternate ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-10px); }
}

.about-card .circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(90,120,255,0.2);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h3 {
  font-size: 2.5rem;
  color: var(--secondary);
}

.about-card p {
  margin-top: 10px;
  text-align: center;
  opacity: .85;
}

.info-block {
    width:98%;
  padding:10px;
  height:45px;
  margin-top: 30px;
  background:rgb(1, 1, 31) ;
  border-radius: 10px;
  border: 1px solid rgba(90,120,255,0.25);
  color: white;
  display: flex;
  gap: 10px;
}

.info-block i {
  color: var(--primary);
}

.about-text {
  max-width: 600px;
  line-height:36px;
  color: grey;
}
.nav-linkss{
  display: none;
  flex-direction: column;
}

/* ===============================================================
   SKILLS
================================================================ */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.skill-box {
  height: 300px;
  width: 390px;
  padding: 25px;
  background: var(--card-bg);
  border-radius: 16px;
  border: 1px solid rgba(110,140,255,.2);
}

.skill-box h3 {
  margin-bottom: 15px;
  color: var(--secondary);
}

/* PROGRESS BAR */
.progress-bar {
  width: 100%;
  height: 12px;
  background: rgba(100,120,255,0.17);
  border-radius: 20px;
  margin-bottom: 18px;
}

.progress {
  height: 12px;
  background: linear-gradient(90deg, var(--primary), var(--accent));
  border-radius: 20px;
  transition: .4s ease-in-out;
}

/* ===============================================================
   SERVICES
================================================================ */
.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap:40px;
}

.service-box {
  width:280px;
  height:350px ;
  padding: 25px;
  background: var(--card-bg);
  border: 1px solid rgba(90,120,255,.25);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  transition: .35s;
}

.service-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 22px rgba(90,120,255,.25);
}

.service-box i {
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 12px;
}

.service-box h3 {
  margin-bottom: 10px;
}

/* ===============================================================
   CONTACT
================================================================ */
.contact-card {
  max-width: 500px;
  padding: 25px;
  background: var(--card-bg);
  border: 1px solid rgba(70,100,255,.25);
  border-radius: 16px;
}

.contact-card input,
.contact-card textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 15px;
  border: 1px solid rgba(120,130,255,.3);
  background: rgba(255,255,255,.05);
  border-radius: 10px;
  color: #fff;
}

.contact-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg,var(--primary),var(--accent));
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: .25s;
}
.button-wrapper{
  display: flex;
  gap: 10px;
  padding-top:20px;
}
.b1{
  height: 50px;
  width: 150px;
  border-radius: 250px;
  font-size:17px;
  cursor: pointer;
  border:1px solid var(--primary) ;
  background: transparent;
  color: white;
  
}
.b1:hover{
  background: linear-gradient(90deg, var(--primary), var(--accent));
  color: white;
}
.b2{
  height: 50px;
  width: 150px;
  border-radius: 250px;
  font-size:17px;
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, var(--primary), var(--accent));
}
.b2 a{
  text-decoration: none;
  color: inherit;
}
.b2:hover{
  background: transparent;
  border:1px solid var(--primary) ;
  color: white;
}
.b1 a{
  text-decoration: none;
  color: inherit;
}
.contact-card button:hover {
  transform: scale(1.04);
}
.mobile-nav{
  display: none;
}
/* ==========================================================
   RESPONSIVE SIDEBAR
========================================================== */
@media (max-width: 1024px) {
  /* body{
   overflow-x: hidden;
  } */
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    left:0px;
    height: 100vh;
    width: 260px;
    z-index: 1002;
    transition: 0.3s ease;
  }

  /* MOBILE BAR SHOWING */
  .mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #040a24;
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
  }

  #menuToggle {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 10003; /* Stays above everything */
  }

  /* THE LIST (nav-linkss) */
  .nav-linkss {
    display: flex; /* Controlled by JS active class */
    flex-direction: column;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    top: 65px;
    left: 0;
    width:80%;
border-radius: 20px; 
   height:75vh;
   margin-left: 30px;
   transition: all 0.3s ease-in-out;
    background-color:rgb(0, 0, 22);
    padding: 30px;
    z-index: 10002; /* Higher than overlay */
  }

  .nav-linkss.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-linkss li {
    margin: 15px 0;
    margin-top: 40px;
  }

  .nav-linkss li a {
    color: white !important;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 15px;
  }



  /* Socials inside mobile nav */
  .socialss {
    display: flex;
    gap: 20px;
    margin-top: 4px;
    margin-left:97px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  .socialss i {
    color: var(--secondary);
    font-size: 1.5rem;
  }

    /* THE OVERLAY: Fixing the transparency */
    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.4s ease;
        height: 100%;
        z-index: 10001; /* Between the bar and the list */
    }
    .overlay.active {
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
    }


  .sidebar.open {
    left: 0;
    transform: translateX(0);
  }
  section{
    padding:20px;
  }
.content {
  margin-left: 0;
   text-align: start;
   padding: 20px;
  }


  /* HERO */
  #home{
    padding: none;
  }
  #home main {    
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .brand {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .profile {
    border-radius: 20px;
    margin-top: 20px;
    width:350px;
    height:400px;
    margin-top: 30px;
  }

.about-text{
  width:auto;
  line-height:25px;
}
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }
    .skills-grid {
    justify-content: center;
  }

  .skill-box {
    width: 100%;
    max-width: 430px;
    height: auto;
  }

  .service-box {
    width:100%;
    height: auto;
  }

  .contact-card {
    width: 100%;
  }

  .glow-ball {
    display: none;
  }
}


/* SMALL PHONES */
@media (max-width: 480px) {
  .brand {
    display: block;
  }

  .section-title {
    font-size: 2rem;
  }

  .nav-links a {
    font-size: 18px;
  }
   .skill-box {
    max-width: 100%;
  }
}
